span {
	display: inline-block;
}

.pageName {
	margin-top: 10px;
	padding-right: 60px;
}

.leftAnchor {
	position: absolute;
    left: 0px;
}

.floatRight {
	float: right;
	top: 0;
}

.editProfileForm {
	margin-left: 50px;
	padding-left: 60px;
	padding-right: 60px;
}

html.ios, html.ios body{
  height: 100%!important;
}